p We have reviewed your profile and are ready to submit your documents to the insurance to get you in the {{CAR_NAME}}. But before we can send everything in we still need you to enter your credit card information.
p Don’t worry, your card will not be charged until you pick up your car. We just need to put a hold on the card to verify that the card is valid and the funds are available.
p You can click below to enter your payment information, or let us know if you have any questions or concerns!
