p Sorry, your {{CAR_NAME}} booking was canceled because you never reserved the car. Remember you have to reserve the car by putting a hold on your credit card. There are plenty more cars at idlecars.com. Now that your documents are all on file, it's even easier to find and rent a new car any time!
