p Sorry, your {{CAR_NAME}} booking was canceled you never reserved the car. Remember you have to check out by putting down a deposit on the car. Now that your documents are all on file, it's even easier to come back and rent a new car any time!
