p We’re sorry, but we had to cancel your {{CAR_NAME}} booking because you didn’t submit your driver documents. But don’t worry! You can always come back and find another car!
ul {{DOCS_LIST}}
p If you are not quite ready to rent, you can still upload your documents to speed up your next rental.
