p You have a listing on idlecars that will expire soon. But don’t worry - you can always renew your listing for free with one tap!

p Hit the link below to renew your {{CAR_NAME}} with license plate {{CAR_PLATE}}.

p Thanks for keeping us in the loop!<br>
    | - Your idlecars team
