p Don't forget! To rent a car through idlecars you still need to upload:
ul {{DOCS_LIST}}
p You can also email photographs of your documents to support@idlecars.com. Once we review all your documents, you can start renting through idlecars.com.
