p Your documents have been pre-approved and submitted to the owner for final insurance approval of the {{CAR_NAME}} you reserved! You should know whether or not you approved in 24-48 hours!
p Hang tight!
