p Congratulations!
p You have been approved to drive the {{CAR_NAME}}!
p How to pick up your car:
ul
  li Tap below to go to your booking page
  li Call the owner to coordinate/schedule pickup
  li When you pickup the car, accept the terms & condition of the car and click “Pay & Drive”
p [Pickup Details]
p Need help? Contact us:
p support@idlecars.com
p 1 844 435 3227
