p Congratulations!
p You have been approved to drive the {{CAR_NAME}}!
p How to pick up your car:
ul
  li Tap below to go to My Rentals in the idlecars app.
  li Tap "Arrange to pick up your car".
  li Call the owner to schedule meet and pick up the car.
  li When you meet the owner, inspect the car and make sure it meets your expectations.
  li Follow the instructions in the app and click “Pay & Drive” to pay the first week's rent.
  li The owner will receive a notification, and give you the keys.
br
p Need help? Contact us:
p support@alltaxiny.com
p 1-844-IDLECAR (1-844-435-3227)
