p Don't forget! To rent your {{CAR_NAME}} you still need to upload:
ul {{DOCS_LIST}}
p You can also email photographs of your documents to support@idlecars.com. Once we have all your documents, you will be added to the car's insurance. Then you can start driving and start earning!
