p
  | Thank you for creating an Idlecars owner account!
  |  Soon you will experience how we make it easier for car owners
  |  to get drivers and collect rental payments.
br
p Here’s how it works:
ul
  li List your available cars
  li Enter your bank details so you can collect payments
  li We find you a driver, you put them on your insurance policy
  li You send us proof the driver is on your insurance
  li The driver picks up the car and pays on their phone
  li You receive weekly payments from the driver
  li If there are any tickets or damages you will be reimbursed from the security deposit that we placed in an escrow account
