p
  | Thank you for creating an All Taxi owner account!
  |  Soon you will experience how we make it easier for car owners
  |  to get drivers on their cars.
br
p You can create listings:
ul
  li List your car for whatever shift(s) are available
  li We find you a driver, we send you all the driver's information
  li You can approve or reject the driver online through our app.
  li You'll be contacted when the driver is on your car.
p ...or just add and remove your own driver through the app
ul
  li Tap "Add driver" or "Remove driver"
  li Fill in the driver's information online
  li All Taxi takes care of the rest
