p Thank you again for joining Idlecars, where we make renting for rideshare easy, safe, and affordable.
br
p To find a car that works for you, follow the steps below:
ul
  li Go to app.idlecars.com
  li Click on a car you want to rent
  li Complete your account by submitting your driving documents
  li Enter a credit card to reserve the car
  li We will add your to the car’s insurance policy
  li You pick up the car and pay your first week’s rent right through the app
  li You drive and automatically pay every week from your credit card
br
