p We’ve noticed you haven’t submitted your documents for the {{CAR_NAME}} booking. Don’t want this car anymore? Just cancel your rental and check out our updated selection of cars!
p We can’t get you in the car until you submit these documents:
ul {{DOCS_LIST}}
