p Oh no! Another driver rented your {{CAR_NAME}} before we got your documents! There are still plenty of great cars available, so come back to idlecars.com and choose the one that’s right for you.
p Meanwhile, you can stop this from happening again by completing your registration now.
FHV / Hack License [image of hack license]
Driver License [image of DMV license]
Proof of Address [image of some bill - Full Page]
Defensive Driving Certificate [image of DD cert]


p Is your {{CAR_NAME}} with license plate {{CAR_PLATE}} still available?
