p Don't forget! To rent your {{CAR_NAME}} you still need to upload {{DOCS_LIST}}. Once we have all your documents, you will be added to the car's insurance. Then you can start driving and start earning!
