.flex, .flex-center, .landing-page .hero-asset .hero-top, .landing-page .phone .phone-background, .landing-page .tutorial p:first-of-type, .flex-center-verticle, .landing-page .tutorial .container, .flex-center-horizontal, .landing-page .tutorial .segments, .flex-space-between {
  display: flex;
  display: -webkit-flex; }

.flex-cell, .landing-page .tutorial .segments {
  flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1; }

.landing-page .tutorial .segment {
  flex: auto;
  -ms-flex: auto;
  -webkit-flex: auto; }

.flex-center, .landing-page .hero-asset .hero-top, .landing-page .phone .phone-background, .landing-page .tutorial p:first-of-type, .flex-center-verticle, .landing-page .tutorial .container {
  flex-direction: column;
  -webkit-flex-direction: column; }

.flex-center, .landing-page .hero-asset .hero-top, .landing-page .phone .phone-background, .landing-page .tutorial p:first-of-type, .flex-center-horizontal, .landing-page .tutorial .segments {
  justify-content: center;
  -webkit-justify-content: center; }

.flex-space-between {
  justify-content: space-between;
  -webkit-justify-content: space-between; }

.landing-page {
  margin-top: 3rem; }
  .landing-page .invisible {
    margin-top: -3rem;
    height: 3rem; }
  .landing-page .container {
    max-width: 65rem;
    padding-left: 48px; }
  .landing-page .hero-asset {
    background: url(../img/hero_bottom.png) no-repeat #fff;
    background-position: center;
    height: 600px; }
    .landing-page .hero-asset .hero-top {
      background: url(../img/hero_top.png) no-repeat transparent;
      background-position: right;
      max-width: 50%;
      min-width: 500px;
      height: 100%;
      padding: 64px 0 64px 48px; }
    .landing-page .hero-asset .content h1 {
      line-height: 1.25em; }
    .landing-page .hero-asset .content p:first-of-type {
      max-width: 400px;
      margin-top: 36px;
      margin-bottom: 24px; }
    .landing-page .hero-asset .content p:last-of-type {
      max-width: 300px;
      margin-bottom: 48px; }
    .landing-page .hero-asset .content .button {
      width: 15rem; }
  .landing-page .phone {
    background: #f2f2f2;
    height: 100%; }
    .landing-page .phone .phone-background {
      background: url(../img/phone.png) no-repeat transparent;
      background-size: auto 100%;
      background-position: 20% center;
      min-height: 500px; }
    .landing-page .phone .content {
      position: relative;
      left: 50%;
      color: black;
      max-width: 380px; }
  .landing-page .tutorial {
    background: white;
    text-align: center;
    color: black; }
    .landing-page .tutorial .container {
      padding-top: 72px;
      padding-bottom: 140px; }
    .landing-page .tutorial p:first-of-type {
      min-height: 54px;
      margin: 16px 0; }
    .landing-page .tutorial .segments {
      margin-top: 100px; }
    .landing-page .tutorial .pane {
      max-width: 13rem;
      margin: 0 auto; }
    .landing-page .tutorial .image {
      height: 100px; }
      .landing-page .tutorial .image:before, .landing-page .tutorial .image img {
        display: inline-block;
        vertical-align: middle; }
      .landing-page .tutorial .image:before {
        content: " ";
        height: 100%; }
      .landing-page .tutorial .image img {
        max-height: 100px;
        max-width: 96px; }
  .landing-page .select {
    background: url(../img/selectthebest.jpg) no-repeat #070707;
    background-position: calc(50% + 336px) center; }
    .landing-page .select h2 {
      margin-bottom: 36px; }
    .landing-page .select p:first-of-type {
      margin-bottom: 24px; }
    .landing-page .select .container {
      height: 522px; }
    .landing-page .select .content {
      max-width: 480px; }
  .landing-page .manhattan {
    background: url(../img/manhattan.jpg) no-repeat white;
    background-size: cover;
    background-position: center;
    height: 507px;
    color: black;
    text-align: center; }
    .landing-page .manhattan .container {
      height: 100%;
      padding: 0;
      align-items: center;
      -webkit-align-items: center; }
    .landing-page .manhattan p {
      margin-top: 16px;
      margin-bottom: 32px; }
    .landing-page .manhattan img {
      max-width: 400px; }

@media (max-width: 875px) {
  .headline .container, .select .container {
    background: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 3px black; } }
@media (max-width: 415px) {
  .headline h1 {
    font-size: 32px; }
  .headline .container {
    height: 500px;
    padding: 3rem 0.7rem; }
  .headline .wrapper {
    max-width: 18.75rem;
    margin: 0 auto; }
  .headline img {
    display: block;
    height: 3rem;
    margin-bottom: 2.5rem; }
  .headline h1 {
    margin-bottom: 1rem; }
  .headline .button {
    text-shadow: none;
    margin: 1.5rem 0; }

  .select {
    background-position: calc(50% + 205px) center; }
    .select .container {
      height: 400px;
      padding: 3rem 0.5rem; }
    .select h3 {
      max-width: 18rem; }

  .convenient .container {
    min-height: initial; }

  .get-more .container {
    padding: 2rem; }
  .get-more br {
    display: initial; }

  .manhattan {
    height: 400px; }
    .manhattan img, .manhattan h3 {
      max-width: 20rem; }
    .manhattan h4 {
      max-width: 16rem; }

  .tutorial h4 {
    margin: 2rem auto; }
  .tutorial h6.single-line {
    min-height: 1rem; }
  .tutorial .segments {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }
  .tutorial .segment {
    min-width: 9rem; }
  .tutorial .pane {
    max-width: 9rem;
    margin-bottom: 3rem; } }

/*# sourceMappingURL=landing_page.css.map */
