.flex, .flex-center, .landing-page .hero-asset .hero-top, .landing-page .phone, .landing-page .tutorial p:first-of-type, .flex-center-verticle, .landing-page .tutorial .container, .flex-center-horizontal, .flex-space-between, .landing-page .tutorial .segments {
  display: flex;
  display: -webkit-flex; }

.flex-cell, .landing-page .phone .phone-image, .landing-page .phone .container {
  flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1; }

.landing-page .tutorial .segment {
  flex: auto;
  -ms-flex: auto;
  -webkit-flex: auto; }

.flex-center, .landing-page .hero-asset .hero-top, .landing-page .phone, .landing-page .tutorial p:first-of-type, .flex-center-verticle, .landing-page .tutorial .container, .landing-page .manhattan .container {
  align-items: center;
  -webkit-align-items: center; }

.flex-center, .landing-page .hero-asset .hero-top, .landing-page .phone, .landing-page .tutorial p:first-of-type, .flex-center-horizontal {
  justify-content: center;
  -webkit-justify-content: center; }

.flex-space-between, .landing-page .tutorial .segments {
  justify-content: space-between;
  -webkit-justify-content: space-between; }

.landing-page {
  margin-top: 3rem; }
  .landing-page .invisible {
    margin-top: -3rem;
    height: 3rem; }
  .landing-page .hero-asset {
    background: url(../img/hero_bottom.png) no-repeat #fff;
    background-position: center;
    height: 600px; }
    .landing-page .hero-asset .hero-top {
      background: url(../img/hero_top.png) no-repeat transparent;
      background-position: right;
      max-width: 50%;
      min-width: 500px;
      height: 100%;
      padding: 64px 0 64px 48px; }
    .landing-page .hero-asset .content h1 {
      line-height: 1.25em; }
    .landing-page .hero-asset .content p:first-of-type {
      max-width: 400px;
      margin-top: 36px;
      margin-bottom: 24px; }
    .landing-page .hero-asset .content p:last-of-type {
      max-width: 300px;
      margin-bottom: 48px; }
    .landing-page .hero-asset .content .button {
      width: 15rem; }
  .landing-page .phone {
    background: #f2f2f2;
    height: 100%; }
    .landing-page .phone .phone-image {
      text-align: center; }
    .landing-page .phone img {
      display: block;
      height: 500px; }
    .landing-page .phone .content {
      color: black;
      max-width: 380px; }
      .landing-page .phone .content p:first-of-type {
        margin: 36px 0; }
    .landing-page .phone a {
      color: #008aff; }
  .landing-page .phone-content .container {
    background: #e3e3e3;
    color: black; }
  .landing-page .phone-content a {
    color: #008aff; }
  .landing-page .tutorial {
    background: white;
    text-align: center;
    color: black; }
    .landing-page .tutorial .container {
      padding-top: 72px;
      padding-bottom: 140px; }
    .landing-page .tutorial p:first-of-type {
      min-height: 54px;
      margin: 16px 0; }
    .landing-page .tutorial .segments {
      width: 100%;
      margin-top: 100px; }
    .landing-page .tutorial .segment {
      max-width: 200px; }
    .landing-page .tutorial .pane {
      margin: 0 auto; }
    .landing-page .tutorial .image {
      height: 100px; }
      .landing-page .tutorial .image:before, .landing-page .tutorial .image img {
        display: inline-block;
        vertical-align: middle; }
      .landing-page .tutorial .image:before {
        content: " ";
        height: 100%; }
      .landing-page .tutorial .image img {
        max-height: 100px;
        max-width: 96px; }
  .landing-page .select {
    background: url(../img/selectthebest.jpg) no-repeat #070707;
    background-position: calc(50% + 336px) center;
    height: 522px; }
    .landing-page .select p:first-of-type {
      margin-top: 36px;
      margin-bottom: 24px; }
    .landing-page .select .content {
      max-width: 480px; }
  .landing-page .select-content p:first-of-type {
    margin: 20px 0; }
  .landing-page .manhattan {
    background: url(../img/manhattan.jpg) no-repeat white;
    background-size: cover;
    background-position: center;
    height: 507px;
    color: black;
    text-align: center; }
    .landing-page .manhattan p {
      margin-top: 20px;
      margin-bottom: 60px; }
    .landing-page .manhattan img {
      max-width: 400px; }

@media (max-width: 875px) {
  .landing-page .phone, .landing-page .phone img {
    height: 370px; }
    .landing-page .phone p:first-of-type, .landing-page .phone img p:first-of-type {
      margin-top: 20px; }
  .landing-page .select {
    background-size: auto 300px;
    background-position: center;
    height: 300px; }
  .landing-page .tutorial .container {
    padding-top: 48px;
    padding-bottom: 64px; }
  .landing-page .tutorial .segments {
    justify-content: center;
    -webkit-justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin-top: 64px; }
  .landing-page .tutorial .segment {
    min-width: 241.5px;
    margin-bottom: 80px; }
    .landing-page .tutorial .segment:last-of-type {
      margin-bottom: 0; }
  .landing-page .manhattan {
    height: 100%; }
    .landing-page .manhattan img {
      max-width: 320px; } }

/*# sourceMappingURL=landing_page.css.map */
