* {
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
}

h1, h2, h3, p {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.5em;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.35em;
}

a {
  color: white;
  text-decoration: none;
}

strong {
  font-weight: 500;
}

input {
  border: 0;
  padding: 0.5rem;
}

section {
  width: 100%;
  overflow: hidden;
}

.invisible {
  margin-top: -3rem;
  display: block;
  height: 3rem;
  visibility: hidden;
}

.container {
  max-width: 54rem;
  margin: 0 auto;
  padding: 8rem 2rem;

  display: flex;
  display: -webkit-flex;

  flex-direction: column;
  -webkit-flex-direction: column;

  justify-content: center;
  -webkit-justify-content: center;
}

.button {
  display: block;

  width: 15rem;
  padding: 1rem;
  border: 0;

  background: #008aff;
  color: white;

  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;

  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

.navbar {
  position: fixed;
  top: 0;
  background: black;
  z-index: 9999;

  display: flex;
  display: -webkit-flex;
}

.navbar .logo, .navbar .links {
  display: flex;
  display: -webkit-flex;

  flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;

  align-items: center;
  -webkit-align-items: center;

  padding: 0.5rem 0;
}

.navbar a {
  flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;

  text-align: center;
}

.navbar .menu-button {
  display: none;
  cursor: pointer;
  position: relative;
  left: calc(100% - 3rem);
  width: 3rem;
  height: 3rem;
}

.navbar img {
  height: 2rem;
  margin-left: 30%
}

.headline {
  margin-top: 3rem;
  background: url(img/loadingscreen.png) no-repeat #141414;
}

.headline .phone-background {
  background: url(img/phone.png) no-repeat transparent;
  background-position: calc(50% + 250px) center;
}

.headline .container {
  height: 695px;
  position: relative;
}

.headline img {
  display: none;
}

.headline h2 {
  line-height: 1.25em;
  margin-bottom: 2rem;
}

.headline p {
  margin-bottom: 1rem;
}

.headline .button {
  background: #008aff;
  color: white;
  margin: 2rem 0;
}

.login {
  font-size: 0.8rem;
  font-weight: 200;
}

.login span {
  font-size: 1rem;
  font-weight: 500;
  color: #008aff;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.select {
  background: url(img/selectthebest.jpg) no-repeat #070707;
  background-position: calc(50% + 336px) center;
}

.select h1 {
  margin-top: 3rem;
}

.select h3 {
  font-weight: 300;
}

.select .container {
  height: 522px;
  text-align: center;
}

.select .content {
  max-width: 25rem;
}

.get-more {
  background: white;
  color: black;
  text-align: center;
}

.get-more h3 {
  font-weight: 500;
}

.manhattan {
  background: url(img/manhattan.jpg) no-repeat white;
  background-size: cover;
  background-position: center;
  height: 507px;
  color: black;
  text-align: center;
}

.manhattan .container {
  height: 100%;
  padding: 0 2rem;

  align-items: center;
  -webkit-align-items: center;
}

.manhattan h3 {
  font-weight: 500;
  margin-bottom: 1rem;
  max-width: 20rem;
}

.manhattan p {
  max-width: 22rem;
}

.manhattan img {
  max-width: 25rem;
  margin-top: 2rem;
}

.tutorial {
  background-color: #008aff;
  text-align: center;

  display: flex;
  display: -webkit-flex;

  flex-direction: column;
  -webkit-flex-direction: column;
}

.tutorial h2 {
  margin: 3rem 0;
}

.tutorial p {
  font-size: 0.85rem;
}

.tutorial strong {
  display: block;
  margin: 1.25rem 0;
}

.tutorial .segments {
  flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;

  display: flex;
  display: -webkit-flex;

  justify-content: center;
  -webkit-justify-content: center;
}

.tutorial .segment {
  flex: auto;
  -ms-flex: auto;
  -webkit-flex: auto;
}

.tutorial .image {
  height: 5rem;
}

.tutorial .image:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.tutorial img {
  vertical-align: middle;
  display: inline-block;
  max-height: 5rem;
  max-width: 6rem;
}

.tutorial .pane {
  max-width: 13rem;
  margin: 0 auto 4rem auto;
}

.ask {
  text-align: center;
  padding: 3rem 2rem;
  height: 25rem;
}

.ask a {
  display: block;
  font-weight: 500;
  text-decoration: underline;
  color: #008aff;
}

.ask a:hover {
  color: #ddd;
}

.ask h3 {
  margin-top: 3rem;
}

.ask .social {
  display: flex;
  display: -webkit-flex;

  justify-content: center;
  -webkit-justify-content: center;
}

.ask .app {
  flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;

  max-width: 5rem;
}

.ask .app img {
  width: 4rem;
}

footer {
  background-color: gray;
  padding: 2rem 0 1.5rem;
  text-align: center;
}

footer a {
  text-decoration: underline;

}

.tm {
  text-align: center;
  font-size: 0.7rem;
}

.tm strong {
  margin-right: 1rem;
}

.tm span {
  margin: 0 0.25rem;
}

.service-logos-small {
  display: none;
}

.service-logos-big {
  margin-top: 2rem;
  max-width: 100%;
}

.burger-button, .burger-button:before, .burger-button:after {
  border-radius: 1px;
  height: 3px;
  width: 20px;
  background: white;
  display: block;
  content: '';
  position: absolute;
}

.burger-button {
  top: 23px;
  right: 14px;
}

.burger-button:before {
  top: -6px;
}

.burger-button:after {
  bottom: -6px;
}

.menu-container {
  background-color: black;
  width: 100%;
  padding: 0 1.5rem 1rem;

  display: flex;
  display: -webkit-flex;

  flex-direction: column;
  -webkit-flex-direction: column;
}

.menu-container a {
  text-align: right;
  padding: 0.5rem 0;
  font-weight: 300;
}

@media (max-width: 700px) {
  .navbar .links, .navbar .logo {
    display: none;
  }

  .navbar, .navbar .menu-button {
    display: block;
  }
}

@media (max-width: 415px) {
  h1, h2, h3, p {
    line-height: 1.25em;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.75rem;
  }

  .headline .container{
    height: 500px;
    padding: 3rem 1.75rem;
  }

  .headline img {
    display: block;
    height: 3rem;
    margin-bottom: 2.5rem;
  }
  .headline h2 {
    margin-bottom: 1rem;
  }

  .headline .button {
    text-shadow: none;
    margin: 1.5rem 0;
  }

  .select {
    background-position: calc(50% + 205px) center;
  }

  .select .container {
    height: 400px;
    padding: 3rem 3.5rem;
  }

  .convenient .container {
    min-height: initial;
  }

  .headline .container, .select .container {
    background: rgba(0,0,0,0.5);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  }

  .get-more .container {
    padding: 2rem;
  }

  .get-more h3, .get-more p {
    max-width: 13rem;
  }

  .manhattan img {
    max-width: 20rem;
  }

  .tutorial h2 {
    margin: 2rem auto;
  }

  .tutorial p {
    font-size: 0.7rem;
  }

  .tutorial .segments {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }

  .tutorial .segment {
    min-width: 9rem;
  }

  .tutorial .pane {
    max-width: 9rem;
    margin-bottom: 3rem;
  }

  .ask h3 {
    font-weight: 500;
    max-width: 14rem;
  }
}
