* {
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, p {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1, h2, h3 {
  line-height: 1em;
}

h1, h2 {
  font-size: 2.5rem;
  line-height: 1em;
}

p {
  font-size: 1.1rem;
  line-height: 1.35em;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ddd;
}

.hero {
  width: 100%;
}

.container {
  max-width: 54rem;
  margin: 0 auto;
  padding: 5rem 0;
  display: flex;
  align-items: center;
}

.content {
  width: 25rem;
}

.headline {
  background: url(img/loadingscreen.png) no-repeat #222;
  background-position: calc(50% + 300px) center;
}

.headline .container {
  height: 699px;
  position: relative;
}

.headline p {
  max-width: 20rem;
}

.headline img {
  position: absolute;
  left: -71px;
}

@media (max-width: 1050px) {
  .headline img {
    left: 0;
  }
}

.select {
  background: url(img/selectthebest.jpg) no-repeat black;
  background-position: calc(50% + 300px) center;
}

.select .container {
  height: 522px
}

.get-more {
  background: white;
  color: black;
  text-align: center;
}

.get-more .container {
  flex-direction: column;
  justify-content: center;
}

.get-more p {
  max-width: 30rem;
}

p.strong {
  font-weight: 700;
  margin: 0;
}

.keep-more .container {
  justify-content: flex-end;
}

.keep-more .content {
  width: 18rem;
  margin-right: 7rem;
}

footer .container {
  height: 10rem;
  color: #666;
  flex-direction: column;
  justify-content: center;
}

.ask {
  margin-bottom: 3rem;
}

.ask a {
  font-weight: 700;
  text-decoration: underline;
}
