* {
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
}

h1, h2, h3, p {
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1, h2, h3 {
  line-height: 1em;
}

h1, h2 {
  font-size: 3rem;
  line-height: 1em;
}

h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
}

p {
  font-size: 1rem;
  line-height: 1.35em;
}

a {
  color: white;
  text-decoration: none;
}

input {
  border: 0;
  padding: 0.5rem;
}

section {
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 54rem;
  margin: 0 auto;
  padding: 8rem 2rem;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.content {
  width: 25rem;
}

.button {
  display: block;

  width: 15rem;
  padding: 1rem;
  border: 0;

  background: #008aff;
  color: white;

  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;

  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

.thanks {
  background: #008aff;
  color: white;
}

.thanks .container {
  padding: 2rem 2rem;
}

.headline {
  background: url(img/loadingscreen.png) no-repeat #141414;
  background-position: calc(50% + 300px) center;
}

.headline .container {
  height: 699px;
  position: relative;
}

.headline h1 {
  margin-top: 4rem;
  margin-bottom: 0.75rem;
}

.headline .button {
  background: white;
  color: black;
  margin: 2rem 0;
}

.login {
  font-size: 0.8rem;
  font-weight: 200;
}

.login span {
  font-size: 1rem;
  font-weight: 500;
  color: #008aff;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.headline img {
  position: absolute;
  top: 5rem;
}

.select {
  background: url(img/selectthebest.jpg) no-repeat black;
  background-position: calc(50% + 336px) center;
}

.select .container {
  height: 522px
}

.select p {
  width: 360px;
}

.get-more {
  background: white;
  color: black;
  text-align: center;
}

.get-more .container {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 5rem 1rem
}

.get-more p {
  max-width: 33rem;
}

p.strong {
  font-weight: 500;
  margin: 0;
}

.convenient {
  background: black;
}

.convenient .container {
  color: white;
  min-height: 500px;
}

.form {
  background: #dde1e5;
  color: black;
}

form {
  width: 100%;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
}

ul {
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  -webkit-flex: 1;
  flex: 1;
}

.red {
  color: red;
}

.role {
  padding: 0 0 4rem;
}

.role li {
  padding-left: 3rem;
  display: flex;
}

.role li label {
  font-weight: 500;
}

li input {
  margin-right: 1rem;
}

.error {
  color: red;
}

.error input {
  background-color : #ffd1d1;
}

.contact label {
  display: block;
  margin-bottom: 0.25rem;
}

.contact input {
  width: 100%
}

ul.contact {
  padding: 2rem 0 3rem;
  border-top: 1px solid #666;
}

.contact li {
  margin: 0 1rem;
}

.contact li:first-child {
  margin-left: 0;
}

.contact li:last-child {
  margin-right: 0;
}

form .button {
  -webkit-align-self: center;
  align-self: center;
}

footer .container {
  height: 17rem;
  padding: 3rem 2rem;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}

footer a {
  text-decoration: underline;
}

.ask {
  margin-bottom: 5rem;
  font-size: 14px;
  text-align: center;
}

.ask a {
  font-weight: 500;
}

.ask a:hover {
  color: #ddd;
}

.tm {
  text-align: center;
  font-size: 0.7rem;
}

.service-logos-small {
  display: none;
}

.service-logos-big {
  margin-top: 2rem;
  max-width: 100%;
}

@media (max-width: 415px) {
  h1, h2 {
    font-size: 1.8rem;
    line-height: 1.25em;
    margin-bottom: 15px;
  }

  h3 {
    line-height: 1rem;
    font-size: 8px;
  }

  p {
    font-size: 0.7rem;
    width: 19em;
  }

  .logo {
    height: 2.7em;
    margin-top: 0.8em;
  }

  .container {
    padding: 3rem 1.75rem;
  }

  .headline img {
    top: 1rem;
    left: 2rem;
    max-width: 40%;
  }

  .headline h1 {
    width: 15rem;
  }

  .headline .button {
    text-shadow: none
  }

  .headline, .select, .keep-more {
    background-size: auto 350px;
    background-position: calc(50% + 150px) center;
  }

  .select {
    background-position: calc(50% + 205px) center;
  }

  .select p {
    width: 22em;
  }

  .convenient .container {
    min-height: initial;
  }

  .headline .container, .select .container, .keep-more .container {
    background: rgba(0,0,0,0.5);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    height: 350px;
  }

  .get-more p {
    text-align: center;
    margin-bottom: 0em;
    width: 23em;
  }

  .service-logos-big {
    display: none;
  }

  .service-logos-small {
    display: inline;
    height: 13em;
    margin-top: 1em;
  }

  .role {
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .role p {
    font-size: 0.8rem;
  }

  .role li {
    padding: 0;
    margin-bottom: 1rem;
  }

  .contact {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .contact li {
    margin: 1rem 0 0;
  }

  .form .button {
    width: 100%;
  }

  footer p {
    width: 20em;
    text-align: center;
  }

  .last_content {
    margin-top: 2.5em;
  }
}

@media (min-width: 1000px) {
  .headline img {
    left: -40px;
  }
}
