.invisible
  display: block
  visibility: hidden

a
  color: white
  text-decoration: none

  &:hover
    cursor: pointer

strong
  font-weight: 500

input
  border: 0
  padding: 0.5rem

section
  width: 100%
  overflow: hidden

.underline
  text-decoration: underline

.bold
  font-weight: 500

.button
  display: block
  font-weight: 500

  padding: 1rem
  border: 0

  background: $ic_blue
  color: white

  text-align: center
  text-transform: uppercase

  cursor: pointer

  &:hover
    opacity: 0.9

.mobile
  display: none

@media (max-width: $mobile_width_threshold)
  .desktop, #desktop
    display: none

  .mobile
    display: initial
