footer
  background-color: $light_black

  .mobile-line,
    display: none

  .container
    padding-bottom: 48px

  .content
    @extend .flex
    @extend .flex-space-between

  .text.desktop
    span
      margin: 0 10px

    p
      margin-bottom: 20px
    p:last-of-type
      margin-bottom: 72px

  .apps
    @extend .flex
    margin-top: 12px
    margin-bottom: 52px

    .app
      margin-left: 36px

      &:first-of-type
        margin-left: 0

    img
      height: 40px

  .mobile
    p
      margin-bottom: 20px

  .text.mobile
    p:last-of-type
      margin-bottom: 64px



@media (max-width: $footer_break_line)
  footer
    .mobile-line
      display: block

    .desktop-line
      display: none



@media (max-width: $footer_mobile_width)
  footer
    .apps
      .app
        margin-left: 12px
      img
        height: 32px

    .desktop, #desktop
      display: none

    .mobile, #mobile
      display: block
