footer
  background-color: $light_black

  .container
    padding-bottom: 48px

  .content
    @extend .flex
    @extend .flex-space-between

  .text.desktop
    p:last-of-type
      margin-top: 20px
      margin-bottom: 72px

    span
      margin: 0 10px

  .apps
    @extend .flex
    margin-top: 12px
    margin-bottom: 52px

    .app
      margin-left: 36px

      &:first-of-type
        margin-left: 0

    img
      height: 40px

  .mobile
    p
      margin-bottom: 20px

  .text.mobile
    p:last-of-type
      margin-bottom: 64px

@media (max-width: $mobile_width_threshold)
  footer
    .apps
      .app
        margin-left: 12px
      img
        height: 32px
