.landing-page
  margin-top: 3rem

  .invisible
    margin-top: -3rem
    height: 3rem

  .content
    p
      margin: 20px 0

      &:last-of-type
        margin-bottom: 32px


  .hero-asset, .hero-content
    .content
      max-width: 400px
      margin: 0 auto

      .button
        width: 200px

  .hero-asset
    background: url(../img/hero_bottom.png) no-repeat #fff
    background-position: center
    height: 600px

    .content
      p:first-of-type
        max-width: 400px

      p:last-of-type
        max-width: 300px

    .hero-top
      @extend .flex-center
      background: url(../img/hero_top.png) no-repeat transparent
      background-position: right

      max-width: 50%
      min-width: 560px

      height: 100%
      padding: 64px 0 64px 48px

  .hero-asset-mobile
    background: url(../img/hero_asset_mobile.jpg) no-repeat white
    background-size: cover
    background-position: center

    height: 300px


  .hero-content
    .container
      background: $light_black


  .phone
    @extend .flex-center
    background: $light_gray
    height: 100%

    .container
      @extend %flex_direction_row
      padding: 0

    .phone-image
      flex: 2

      img
        display: block
        width: 100%

    .content-wrapper
      @extend .flex-center
      flex: 3


    .content
      color: $black
      max-width: 380px

      a
        color: $ic_blue

        p
          margin: 0

  .phone-content
    .container
      background: $light_gray
      color: $black

    a
      color: $ic_blue


  .tutorial
    background: $white
    text-align: center
    color: $black

    .container
      @extend .flex-center-verticle
      padding-top: 72px
      padding-bottom: 140px

    p:first-of-type
      @extend .flex-center
      min-height: 54px
      margin: 16px 0

    .segments
      @extend .flex-space-between
      width: 100%
      margin-top: 100px

    .segment
      @extend %flex_cell_auto
      max-width: 200px

    .pane
      margin: 0 auto

    .image
      height: 100px

      &:before, img
        display: inline-block
        vertical-align: middle

      &:before
        content: ' '
        height: 100%

      img
        max-height: 100px
        max-width: 96px


  .select
    background: url(../img/selectthebest.jpg) no-repeat $dark_black
    background-position: calc(50% + 336px) center
    height: 522px

    .content
      max-width: 480px

      p:last-of-type
        margin-bottom: 0

  .select-content
    p:first-of-type
      margin: 20px 0


  .manhattan
    background: url(../img/manhattan.jpg) no-repeat white
    background-size: cover
    background-position: center

    height: 507px
    color: $black
    text-align: center

    .container
      @extend %flex_align_items_center

    img
      max-width: 400px



@media (max-width: $phone_section_threshold)
  .landing-page .phone .content
    h2
      font-size: 32px
    & > p
      margin-bottom: 20px


@media (max-width: $mobile_width_threshold)
  .landing-page
    .phone .phone-image img
      width: 300px

    .select
      background-size: auto 300px
      background-position: center
      height: 300px


    .tutorial
      .container
        padding-top: 48px
        padding-bottom: 64px

      .segments
        justify-content: center
        -webkit-justify-content: center
        flex-wrap: wrap
        -webkit-flex-wrap: wrap

        margin-top: 64px

      .segment
        min-width: 241.5px
        margin-bottom: 80px

        &:last-of-type
          margin-bottom: 0


    .manhattan
      height: 100%

      img
        max-width: 320px
