*
  box-sizing: border-box

body
  background: black
  color: white
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif

.container
  margin: 0 auto
  display: flex
  display: -webkit-flex
  flex-direction: column
  -webkit-flex-direction: column
  justify-content: center
  -webkit-justify-content: center
