extends ./base.jade

- block navbar
- endblock

- block content
  section
    .container
      .content
        h2 Thank you for your interest.
        p An email has been sent to your address.

        p Additional Information:
        form(action="#{ action }", method="post")
            - csrf_token
            #{ survey_form.as_p }
            input(type="submit", value="Submit")

- block footer
- endblock
