- block content
    p Thank you for your interest. An email has been sent to your address.

    p Additional Information:
    form(action="#{ action }}", method="post")
        - csrf_token
        #{ survey_form.as_p }
        input(type="submit", value="Submit")
