- block content
    h1 Landing page design goes here

    p I'm a driver. How can I get a luxury car and make money?
    form(action="#{ driver_action }", method="post")
        - csrf_token
        #{ driver_form.as_p }
        input(type="submit", value="Let's Talk")

    p I own a car. How can my car make me money?
    form(action="#{ owner_action }", method="post")
        - csrf_token
        #{ owner_form.as_p }
        input(type="submit", value="Let's Talk")
