extends ./base.jade

- block content
  .landing-page

    section.hero-asset.desktop
      .hero-top
        .content
          h1 Idlecars service will stop on April 29th
          p Thank you for your interest in idlcars. We will no longer be offering
            | our
            | listing and online rental service as of April 29th, 2016. If you
            | are currently renting through idlecars, please make arrangements to continue
            | your rental directly with the car owner.
          a.button(href="#{ settings.DRIVER_APP_URL }") DRIVER LOG IN

    section.hero-asset-mobile(id="mobile")

    section.hero-content.mobile
      .container
        .content
          h1 Idlecars service will stop on April 29th
          p Thank you for your interest in idlcars. We will no longer be offering our listing and online rental service as of April 29th, 2016. If you are currently renting through idlecars, please make arrangements to continue your rental directly with the car owner.
          a.button(href="#{ settings.DRIVER_APP_URL }") DRIVER LOG IN

    section.phone
      .container
        .phone-image
          img(src="#{ settings.STATIC_URL }img/phone.png")
        .content-wrapper(id='desktop')
          .content
            h2 Getting in touch with idlecars
            p If you need to get in touch with idlecars to inquire about the company's
                | assets, or for support with your existing rental, please email
                | support@idlecars.com.

    section.phone-content.mobile
      .container
        .content
            h2 Getting in touch with idlecars
            p If you need to get in touch with idlecars to inquire about the company's assets, or for support with your existing rental, please email support@idlecars.com.
