extends ./base.jade

- block content
  .landing-page

    section.hero-asset.desktop
      .hero-top
        .content
          h1 Idlecars service has stopped
          p Thank you for your interest in idlcars. We are no longer offering our listing and online rental service as of April 29th, 2016.

    section.hero-asset-mobile(id="mobile")

    section.hero-content.mobile
      .container
        .content
          h1 Idlecars service has stopped
          p Thank you for your interest in idlcars. We are no longer offering our listing and online rental service as of April 29th, 2016.

    section.phone
      .container
        .phone-image
          img(src="#{ settings.STATIC_URL }img/phone.png")
        .content-wrapper(id='desktop')
          .content
            h2 Getting in touch with idlecars
            p If you need to get in touch with idlecars to inquire about the company's
                | assets, or for support with your existing rental, please email
                | support@idlecars.com.

    section.phone-content.mobile
      .container
        .content
            h2 Getting in touch with idlecars
            p If you need to get in touch with idlecars to inquire about the company's assets, or for support with your existing rental, please email support@idlecars.com.
