extends ./base.jade

- block content
  section.headline
    .container
      img(src="#{ STATIC_URL }img/idlecars_logo_white.png", alt="idlecars")
      .content
        h1 No car? No problem.
        p Idlecars let's you rent luxury cars and earn money as a rideshare driver.

  section.select
    .container
      .content
        h2 Select the best
        p We provide a wide selection of premium vehicles to drive for high-end rideshare and limousine services.

  section.get-more
    .container
      h2 Get more rides
      p.strong Our cars allow you to drive for any base.
      p No matter which vehicle you rent, you can accept rides from any rideshare, limousine, or dispatch company.
      img(src="#{ STATIC_URL }img/services.jpg", alt="uber lift and others")

  section.keep-more
    .container
      .content
        h2 Keep more of your earnings
        p You only pay for the hours you rent.

  section.get-more.convenient
    .container
      h2 Convenient for you
      p We take care of all the paperwork and we cover the cost of insurance, parking, and maintennance. We even ensure each car is clean for every shift.

  section.form
    .container
      form(action="#{ action }", method="post")
        - csrf_token

        ul.role
          li
            input#id_role_0(name='role', type='radio', value='driver')
            label(for='id_role_0') I want to drive.
          li
            input#id_role_1(name='role', type='radio', value='owner')
            label(for='id_role_1') I own a car.

        ul.contact
          li
            label(for='id_email') Email Address
            input#id_email(maxlength='254', name='email', type='email')
          li
            label(for='id_zipcode') Zipcode
            input#id_zipcode(maxlength='5', name='zipcode', type='text')

        input.button(type="submit", value="Let's Talk")

  footer
    .container
      p.ask
        a(href="#") ASK US ANYTHING
      | <p>© {% now 'Y' %} idlecars</p>
